body {
  background-color: #525252;
}
.index_main_title_div{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  position: fixed;
  text-align: center;
  top: 40vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  color:white;
}
.index_main_footer_contain{
  display: flex;
  align-items: baseline;
  position: fixed;
  bottom: 0px;
  left: 0px;
  z-index: 1;
  width: 100%;
  height: 10%;
  background-color: #f0ece2;
  align-items:center ;
  flex-direction: row;
  justify-content: center;
}
/*child of footer container*/
#index_main_footer_item{
  position: relative;
  width: 50px;
  height: 50px;
  margin: 0 5px;
  object-fit: contain;
  border-radius: 50%;
  border: 5px solid #353941;
  background-image: url("./resources/socials/discord.svg");
  background-position: 50%;
  background-size: 30px;
  background-repeat: no-repeat;
}

.index_main_nav_bar{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  z-index: 1;
  background-color: #69779b;
  /*background-color: #393886;*/
}
.index_main_nav_bar h1{
  text-align: center;
  position: relative;
  height: 50%;
  bottom: 50%;
  transform: translateY(50%)
}