:root{
  --background: #191f2a;
  --default-font: Helvetica;
}  
* {
  padding: 0;
  margin: 0;
}
body{
  background-color: var(--background);
}
.main-content{
  font-size: 1.25rem;
  position: relative;
  top: 20vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  color:#fff;
  font-family: var(--default-font);
  margin-left: 15%;
  margin-right: 15%;
}
p{
  margin-top: 0.75%;
}
#top-gradient-thing{
  height: 0.25rem;
  animation: infinite;
  animation-name: gradient-top-thing;
  animation-duration: 10s;
  background: linear-gradient(90deg,red,orange,yellow,green,cyan,blue,violet,red);
}
/* This idea is stolen from aqua.wtf */
@keyframes gradient-top-thing {
  0%{background-position-x:100%;}
  100%{background-position-x: 100vw;}
}